* {
    box-sizing: border-box;
}

@font-face {
    font-family: allerreg;
    src: url("./fonts/aller_rg-webfont.woff");
}

body {

    width: 100vw;
    min-width: 450px;
    min-height: 650px;
    height: max(100vh, 650px);

    background-color: var(--bg-color);

    display: grid;
    grid-template-rows: 100px 1fr;

    font-family: allerreg;


    & header {
        position: sticky;
        top: 0;

        height: 100px;
        background-color: white;

        z-index: 10;

        border-bottom: 4px solid red;
        
        & .logo {
            position: absolute;
            top: 20%;
            
            & img {
                height: 4rem;
            }
        }

        & nav {
            height: 100%;

            margin: 0 auto;

            padding: 24px;

            display: flex;
            justify-content: center;
            align-items: center;
            gap: 28px;


            & button {
                background-color: transparent;

                font-size: 26px;

                padding: 6px 12px;
                border: none;

                &:hover {
                    cursor: pointer;
                    border-bottom: 6px solid red;
                    border-radius: 6px;

                }

            }

        }
    }

    & #content.home {
        display: grid;
        gap: 10px;
        grid-template: calc(var(--content-height) / 2) 1fr / 1fr 1fr 1fr;
        grid-template-areas:
            "sq1 sq2 ver"
            "hor hor ver"
        ;

        position: relative;

        & #img-sq-1 {
            grid-area: sq1;
        }

        & #img-sq-2 {
            grid-area: sq2;
        }

        & #img-hor {
            grid-area: hor;
        }

        & #img-ver {
            grid-area: ver;
        }

        & .figure {

            & img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }

        }

        & #hero-text {
            position: fixed;
            top: 20%;
            left: 0;

            width: 100%;

            padding: 0 20px;

            text-align: center;

            color: white;
            font-size: max(calc(100vw / 25), 35px);
            text-wrap: nowrap;
            stroke-width: 4px;
            text-shadow: 0px 0px 10px black;
        }

        & #logo {
            font-size: max(calc(100vw / 8), 150px);
        }
    }

}